Subcript_url=""
GeoIP_dat_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/cn.dat"
Country_mmdb_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/Country-only-cn-private.mmdb"
GeoSite_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
Mihomo_url="https://github.com/MetaCubeX/mihomo/releases/latest/download/"
Curl_url="https://github.com/stunnel/static-curl/releases/download/8.6.0/curl-linux-amd64-8.6.0.tar.xz"
