Subcript_url=""
GeoIP_dat_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/cn.dat"
Country_mmdb_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/Country-only-cn-private.mmdb"
GeoSite_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"

pack_arch="arm64" # 只支持arm64, amd64

# 下面的内容只在打包时使用
Corefile_dashboard="https://github.com/MetaCubeX/yacd/archive/gh-pages.zip"

# 这里配置target的文件variant

mihomo_link="https://github.com/MetaCubeX/mihomo/releases"
mihomo_tag="latest" # Prerelease-Alpha -> 最新测试版, latest -> 最新稳定版, 版本号 -> 指定版本
mihomo_arch_arm64="android-arm64"
mihomo_arch_amd64="linux-amd64-compatible"
# 最终的下载链接为 "${mihomo_link}/${mihomo_tag}/mihomo-${arch}-${mihomo_version}.gz"
# 当tag=latest时，会自动获取最新的版本号作为新的tag
# https://github.com/stunnel/static-curl/releases/download/8.6.0/curl-linux-arm64-8.6.0.tar.xz
curl_link="https://github.com/stunnel/static-curl/releases/download"
curl_version="8.6.0"
# 最终的下载链接为 "${curl_link}/${curl_version}/curl-linux-${pack_arch}-${curl_version}.tar.xz"
