#!/system/bin/sh

. /data/clash/clash.internal.config

auto_updateSubcript="true"
update_subcriptInterval="0 5 * * *"
auto_updateGeoIP="false"
auto_updateGeoSite="false"
update_geoXInterval="0 5 * * 7" # 每周日的半夜5点更新GeoX

# 下面内容理应与 打包时 files.config 一样
Subcript_url=""
GeoIP_dat_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/cn.dat"
Country_mmdb_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/Country-only-cn-private.mmdb"
GeoSite_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"